/Filtragem_dados_com_filter_List_Comprehension.py
/exercicio74.py
/exercicio79.py
/exercicio91.py
/exercicio_classes1.py
/exercicio_classes2.py
/exercicio_decorador.py
/extra.py
/jogo_da_forca.py
/texte.py